# Copyright IBM Corp. 2020, 2025
# SPDX-License-Identifier: MPL-2.0

cask "hashicorp-{{ .Product }}" do
  version "{{ .Version }}"
  {{- if and .Architectures.DarwinAmd64SHA .Architectures.DarwinArm64SHA }}
  arch arm: "arm64", intel: "amd64"
  sha256 arm: "{{ .Architectures.DarwinArm64SHA }}",
         intel: "{{ .Architectures.DarwinAmd64SHA }}"
  url "https://releases.hashicorp.com/{{ .Product }}/#{version}/{{ .Product }}_#{version}_darwin_#{arch}.dmg",
      verified: "hashicorp.com/{{ .Product }}/"
  {{- else }}
  {{- if .Architectures.DarwinAmd64SHA }}
  sha256 "{{ .Architectures.DarwinAmd64SHA }}"

  url "https://releases.hashicorp.com/{{ .Product }}/#{version}/{{ .Product }}_#{version}_darwin_amd64.dmg",
      verified: "hashicorp.com/{{ .Product }}/"
  {{- end }}
  {{- if .Architectures.DarwinArm64SHA }}
  sha256 "{{ .Architectures.DarwinArm64SHA }}"

  url "https://releases.hashicorp.com/{{ .Product }}/#{version}/{{ .Product }}_#{version}_darwin_arm64.dmg",
      verified: "hashicorp.com/{{ .Product }}/"
  {{- end }}
  {{- end }}
  name "{{ .Name }}"
  desc "{{ .Desc }}"
  homepage "{{ .Homepage }}"

  {{- if eq .Product "vagrant" }}

  livecheck do
    url "https://github.com/hashicorp/{{ .Product }}"
    strategy :git
  end
  {{- end }}

  {{- if .CaskApp }}

  app "{{ .CaskApp }}"
  {{- else }}

  pkg "{{ .CaskPkg }}"
  {{- end }}

  {{- if eq .Product "vagrant" }}

  uninstall script: {
    executable: "uninstall.tool",
    input: ["Yes"],
    sudo:  true,
  },
  pkgutil: "com.{{ .Product}}.{{ .Product }}"

  zap trash: "~/.{{ .Product }}.d"
  {{- end}}

end
