# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

cask "hashicorp-{{ .Product }}" do
  version "{{ .Version }}"
  sha256 "{{ .Architectures.DarwinAmd64SHA }}"

  url "https://releases.hashicorp.com/{{ .Product }}/#{version}/{{ .Product }}_#{version}_darwin_amd64.dmg",
      verified: "hashicorp.com/{{ .Product }}/"
  name "{{ .Name }}"
  desc "{{ .Desc }}"
  homepage "{{ .Homepage }}"

  {{- if eq .Product "vagrant" }}

  livecheck do
    url "https://github.com/hashicorp/{{ .Product }}"
    strategy :git
  end
  {{- end }}

  {{- if .CaskApp }}

  app "{{ .CaskApp }}"
  {{- else }}

  pkg "{{ .CaskPkg }}"
  {{- end }}

  {{- if eq .Product "vagrant" }}

  uninstall script: {
    executable: "uninstall.tool",
    input: ["Yes"],
    sudo:  true,
  },
  pkgutil: "com.{{ .Product}}.{{ .Product }}"

  zap trash: "~/.{{ .Product }}.d"
  {{- end}}

end
