name: Test Utilities
# This workflow will automatically build and test the utilities within
on:
  pull_request:
  push:
    paths:
      - util/**
      - Makefile

# Triggering on both pull_request and push will cause duplicate workflows to fire. We only need one
# This occurs when we create a branch on the repository and then makes a PR from it.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-templater:
    name: Build Formula Templater
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      -
        name: Setup Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          cache: true
          cache-dependency-path: util/formula_templater/go.sum
          go-version-file: util/formula_templater/go.mod 

      - name: Build CLI
        run: |
          make formula_templater

      - name: Test
        run: |
          make ci-test-formula_templater

  build-trigger:
    name: Build Lambda Trigger
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      -
        name: Setup Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          cache: true
          cache-dependency-path: util/lambda_trigger/go.sum
          go-version-file: util/lambda_trigger/go.mod

      - name: Build CLI
        run: |
          make lambda_trigger

      - name: Test
        run: |
          make ci-test-lambda_trigger

