name: Update Product Formula in Tap
# This workflow will automatically update our product formulae on the release of
# new versions
on:
  repository_dispatch:
    types: [version-updated]
    # this event type is set in the repository dispatch event
#    inputs:
#      name:
#        description: 'name of the formula being updated'
#        required: true
#      sha256:
#        description: 'SHA256 of updated product zip'
#        required: true
#      version:
#        description: 'most current product version number'
#        required: true

jobs:
  formula-bump-pr:
    name: Create PR
    runs-on: ubuntu-latest
    steps:
      - name: Homebrew bump formula
        uses: dawidd6/action-homebrew-bump-formula@v3.1.1
        with:
          token: ${{secrets.HOMEBREW_TOKEN}}
          tap: hashicorp/homebrew-tap
          formula: ${{github.event.client_payload.name}}
          revision: ${{github.event.client_payload.sha256}}
      - name: Labeler
        uses: actions/labeler@v3-preview
        with:
          token: ${{secrets.TOKEN}}
      - name: Merge pull requests
        uses: pascalgn/automerge-action@v0.8.4
